$def with (content)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>$content.title</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<base href="$base_url">
<link rel="stylesheet" type="text/css" media="all" href="static/base.css" />
<!-- <link rel="stylesheet" type="text/css" media="aural" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="braille" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="embossed" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="handheld" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="print" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="projection" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="screen" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="tty" href="mystyle.css" /> -->
<!-- <link rel="stylesheet" type="text/css" media="tv" href="mystyle.css" /> -->
<!--<style type="text/css"></style>-->
</head>
<body>

<div id="content">
<div id="header">
    <p>Hello, <a href="http://www.simpy.com/user/$user/links">$user</a>.</p>
    <h1><a href="$base_url">$title</a></h1>
    <p>
    <!--<span style="float:left;">
    + <a href="/add">Add</a>
    </span>-->
    <span style="float:right;">
    <a href="javascript:if(window.getSelection){txt=window.getSelection();}else%20if(document.getSelection){txt=document.getSelection();}else%20if(document.selection){txt=document.selection.createRange().text;}void(window.open('http://www.simpy.com/simpy/LinkAddPopup.do?tags=read later,&title='+encodeURIComponent(document.title)+'&href='+encodeURIComponent(location.href)+'&note='+encodeURIComponent(txt)+'&v=1&src=bookmarklet',%20'Link%20Add',%20'left=0,top=0,height=330,width=430,location=no,scrollbars=yes,toolbar=no,resizable=yes'));">
    Read Later</a>   
    </span>
    </p>
    <br clear="both" />
    
    <p>
    $if not content.title == 'Unread':        
        <a href="">Unread</a>
    $else:
        Unread
    <span style="color: #ccc;">&bull;</span>
    $if not content.title == 'Starred':        
        <a href="index.cgi/starred">Starred</a>
    $else:
        Starred
    <span style="color: #ccc;">&bull;</span>
    $if not content.title == 'Read':        
        <a href="index.cgi/read">Read</a>
    $else:
        Read
    </p>
</div>

    <!-- Other template will be inserted here. -->
    $:content
    <hr/>

<div id="footer">
<p>RSS feeds:<br/>
<a href='http://www.simpy.com/rss/user/$user/links/$unread_query'><img src="static/feed.png"/> Unread</a> <span style="color: #ccc;">&bull;</span> <a href='http://www.simpy.com/rss/user/$user/links/$starred_query'><img src="static/feed.png"/> Starred </a> <span style="color: #ccc;">&bull;</span> <a href='http://www.simpy.com/rss/user/$user/links/$read_query'><img src="static/feed.png"/> Read </a></p>
<!--<p><a href="/about">About</a></p>-->
</div>
</div><!--content-->
                                                        
</body>
</html>
